<!DOCTYPE html>

<html>
<head>
<title> About </title>
 <link rel="stylesheet" href="/css/styles.css">
 <link rel="icon" href="/img/apple.jpg">

</head>

<body>
        <div class="main-content">    
 {{>header}}
<img class="portrait" src="/img/apple.jpg">
</div>

{{>footer}}
</body>
</html>